body{
    color: royalblue;
    background-color: #282c34;
}

.centered {
    text-align: center;
 }

.centerHolder{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
 }