<h1 class="centered">CHARACTERS</h1>


<div class="centerHolder row">
    {{range .Characters}}
    <div class="column">
        <div class="card">
            <img src="/images/profile_man.png" alt="Avatar" style="max-width: 40%;">
            <div class="container">
                <h4><b>{{.Name}}</b></h4>
                <p>{{.Appearance}}</p>
                <p>{{.Quote}}</p>
                <ul>
                    <li>{{index .Roleplay 0 }}</li>
                    <li>{{index .Roleplay 1 }}</li>
                    <li>{{index .Roleplay 2 }}</li>
                </ul>
            </div>
        </div>
    </div>
    {{end}}
</div>