<h1 class="centered">Edit your character</h1>


<form action="/postCharacter" method="post">
    <div class="centerHolder row">
        <div class="column">
            <div class="card">
                <img src="/images/profile_man.png" alt="Avatar" style="max-width: 40%;">
                <div class="container">
                    <a>Name:</a><textarea rows="3" cols="60" class="input" name="Name" type="text">{{.Character.Name}}</textarea>
                    <br>
                    <a>Appearance:</a><textarea rows="3" cols="60" class="input" name="Appearance" type="text">{{.Character.Appearance}}</textarea>
                    <br>
                    <a>Quote:</a><textarea rows="3" cols="60" class="input" name="Quote" type="text">{{.Character.Quote}}</textarea>
                    <br>
                    <a>Roleplay:</a>
                    <br>
                    <textarea rows="3" cols="60" class="input" name="Roleplay" type="text">{{index .Character.Roleplay 0 }}</textarea><br>
                    <textarea rows="3" cols="60" class="input" name="Roleplay" type="text">{{index .Character.Roleplay 1 }}</textarea><br>
                    <textarea rows="3" cols="60" class="input" name="Roleplay" type="text">{{index .Character.Roleplay 2 }}</textarea><br>
                </div>
                <button type="submit">Save Character</button>
            </div>
        </div>
    </div>
</form>