<h1 class="centered">Edit your character</h1>


<form action="/postCharacter" method="post">
    <div class="centerHolder row">
        <div class="column">
            <div class="card">
                <img src="/images/profile_man.png" alt="Avatar" style="max-width: 40%;">
                <div class="container">
                    <a>Name:</a><input class="input" name="Name" type="text" value="{{.Character.Name}}">
                    <br>
                    <a>Appearance:</a><input class="input" name="Appearance" type="text" value="{{.Character.Appearance}}">
                    <br>
                    <a>Quote:</a><input class="input" name="Quote" type="text" value="{{.Character.Quote}}">
                    <br>
                    <a>Roleplay:</a>
                    <br>
                    <input class="input" name="Roleplay" type="text" value="{{index .Character.Roleplay 0 }}"><br>
                    <input class="input" name="Roleplay" type="text" value="{{index .Character.Roleplay 1 }}"><br>
                    <input class="input" name="Roleplay" type="text" value="{{index .Character.Roleplay 2 }}"><br>
                </div>
                <button type="submit">Save Character</button>
            </div>
        </div>
    </div>
</form>