.img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.form-inputsHolder {
    display: grid;
    justify-content: center;
    padding: 8px 0;
}

.form-roleplayHolder {
    display: grid;
    justify-content: center;
    padding: 16px 0px 0px 0px;
}

.form-buttonHolder {
    display: flex;
    justify-content: space-evenly;
}