.img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.form-inputsHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0;
}

.form-roleplayHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 0px 0px 0px;
}

.form-buttonHolder {
    display: flex;
    justify-content: space-evenly;
}

.character-card {
    display: flex;
    overflow-y: scroll;
}

.single-character-card {
    /* Max height prop can now be used to limit the vertical size of the card */
    max-height: 570px;
    min-height: 400px;
}

.multi-character-card {
    /* Max height prop can now be used to limit the vertical size of the card */
    max-height: 400px;
    min-height: 400px;
}

/* Hide the scrollbar for Webkit-based browsers */
.character-card::-webkit-scrollbar {
    display: none;
}

/* Containers where in a div with two components, one should be at the top and the other at the bottom */
.top-bottom-holder{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.top-bottom-inner{
    flex-grow: 1;
}